# This workflow is to run tests on regular pushes and pull requests - it is
# separate from the tests that get run during an auto-update, which can be
# found in update_and_publish.yml

name: Run tests

on:
  push:
  pull_request:

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      envs: |
        - linux: py310-test
        - macos: py311-test
        - windows: py312-test-astropydev
